body{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-attachment: fixed;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-align: center;
}

h1{
    font-size: 60px;
    color: #5F57CD;
    text-shadow: 4px 4px #D267B2;
}
h3,p{
    font-size: 30px;
    color:#EFA987 ;
    text-shadow: 2px 2px #5F57CD;
    margin: 5px;
}
p{
    font-weight: 600;
    margin: 5px 0 20px;
    font-size: 22px;
}

#range{
    background:#5F57CD ;
    color: yellowgreen;
}


.gridrow{
     border: solid 1px #f4f4f4;
    background-color: white;

}

#container{
    border: 3px solid rgb(14, 47, 70);
    border-radius: 5px; 
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border-radius: 5px;
    height: 650px;
    width: 650px;
}

.hovered{
    background-color: #5F57CD;
    border: solid 1px rgb(0, 162, 255);
    border-radius: 3px;
}


button{
    background-color: rgb(228, 228, 228);
    border: none;
    box-shadow: 5px 5px #E89891;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    font-size: 21px;
    margin: 10px auto;
    cursor: pointer;
    font-weight: 600;
    color: #eee;
}


#btn-rgb{
    background-image: linear-gradient(90deg, #eb80f0 0%, #2BD2FF 50%, #2BFF88 100%);
}

#btn-def{
    margin-top: 1rem;
    background-color: #5F57CD;
}

.btns{
    display: flex;
    gap: 1rem;
}

#btn-ers, #btn-res{
    background-color: #CD5ABA;
}

